*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/project/target/
/core/target/
/target/
/project/project/
/zio-http/target/
/zio-json/target/
/jwt-scala-core/target/
/jwt-scala-zio/target/
/cats-effect/target/
/http4s/target/
/circe/target/
/jwt-scala-circe/target/

/.idea/
/.bsp/
/.attach_pid*
/zio/target/